<!-- 尾部 -->
<footer class="l-footer">
  <div class="l-container">
    <div class="l-footer__friendlink">LINK 友情链接：
      <a class="l-footer__friendlink__item" href="#">百度</a>
      <a class="l-footer__friendlink__item" href="#">360</a>
    </div>
    <ul class="l-footer__nav clearfix">
      <li class="l-footer__nav__item">
        <span class="l-footer__nav__label">矫正方案</span>
        <ul class="l-footer__nav__list">
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
        </ul>
      </li>
      <li class="l-footer__nav__item">
        <span class="l-footer__nav__label">实际疗效</span>
        <ul class="l-footer__nav__list">
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
        </ul>
      </li>
      <li class="l-footer__nav__item">
        <span class="l-footer__nav__label">常见问题</span>
        <ul class="l-footer__nav__list">
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
        </ul>
      </li>
      <li class="l-footer__nav__item">
        <span class="l-footer__nav__label">联系我们</span>
        <ul class="l-footer__nav__list">
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
        </ul>
      </li>
      <li class="l-footer__nav__item">
        <span class="l-footer__nav__label">企业邮箱</span>
        <ul class="l-footer__nav__list">
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
          <li class="l-footer__nav__list__item">XXXXXXX</li>
        </ul>
      </li>
      <li class="l-footer__nav__qrcode">
        <img src="<%=require('@/assets/qrcode.png')%>" alt="扫一扫用手机浏览" />
        <span>扫一扫，用手机浏览</span>
      </li>
    </ul>
    <div class="l-footer__copyright">
      &copy;2018 大同腾屹医疗器械有限公司 苏ICP备XXXXXXXXX号-1
    </div>
  </div>
</footer>