
  <script type="text/javascript">if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="{dede:global.cfg_mobileurl/}/index.php";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}</script>
  <!-- 分类id -->
  <input type="hidden" id="typeid" value="{dede:field.typeid/}" />
  <!-- 头部 -->
  <header class="l-header">
    <div class="l-header__top l-container clearfix">
      <div class="c-logo clearfix">
        <img src="<%=require('@/assets/logo.png')%>" alt="大同腾屹">
        <div class="c-logo__main">
          <div class="c-logo__title">大同腾屹医疗器械有限公司</div>
          <div class="c-logo__desc">个性化定制托槽</div>
        </div>
      </div>
      <div class="c-contact clearfix">
        <div class="c-contact__content">
          <div class="c-contact__tel">资讯热线 ：
            <span class="c-contact__number">{dede:global.tel_one/}</span>
          </div>
          <div class="c-contact__tel">技术支持 ：
            <span class="c-contact__number">{dede:global.tel_two/}</span>
          </div>
        </div>
        <img class="c-contact__qrcode" width="98" height="98" src="<%=require('@/assets/contact-qrcode.png')%>" alt="客服二维码"/>
      </div>
    </div>
    <div class="l-header__bottom">
      <nav class="c-nav l-container clearfix">
        <a class="c-nav__item" href="/">
          <i class="c-nav__icon"></i>
          <span class="c-nav__text">腾屹首页</span>
        </a>
        {dede:channel type="top" currentstyle="<a class='c-nav__item c-nav__item--active' data-id='~id~' href='~typelink~'><span class='c-nav__text'>~typename~</span></a></li>"}
        <a class="c-nav__item" data-id="[field:id/]" href="[field:typelink/]">
          <span class="c-nav__text">[field:typename/]</span>
        </a>
        {/dede:channel}
      </nav>
    </div>
    <script>
      var path = '{dede:field.typename/}',
          headerNavItems = document.querySelectorAll('.c-nav__item'); // 头部item
      headerNavItems.forEach(function(item) {
        console.log(item.innerText.trim())
      })
    </script>
  </header>