<!-- 在线留言 -->
<div class="l-message">
  <div class="l-container">
    <div class="l-message__title">在线留言</div>
    <form class="l-message__form" action="/mail/sendmail.php" method="POST">
      <input type="hidden" name="demand" value="在线留言" />
      <div class="l-message__form__item">
        <span>姓名：</span>
        <input placeholder="请填写您的姓名，以便于我方给您回复" name="name" />
      </div>
      <div class="l-message__form__item">
        <span>手机号码：</span>
        <input placeholder="请填写您的手机号码，填写后我司将第一时间与您通过电话取得联系" name="phone" />
      </div>
      <div class="l-message__form__item">
        <span>电子邮箱：</span>
        <input placeholder="请填写您的手机号码，填写后我司将第一时间与您通过电话取得联系" name="email" />
      </div>
      <div class="l-message__form__item">
        <span>留言内容：</span>
        <textarea placeholder="请填写您的手机号码，填写后我司将第一时间与您通过电话取得联系" name="message"></textarea>
      </div>
      <button type="submit" class="l-message__form__btn">提交</button>
    </form>
  </div>
</div>