<!-- 搜索 -->
<div class="l-search clearfix">
  <div class="l-container">
    <div class="l-search__keywords">
      热门关键词：
      <span>牙托槽</span>
      <span>牙齿矫正</span>
      <span>隐形矫正</span>
    </div>
    <form class="l-search__form">
      <div class="c-search">
        <input class="c-search__field" placeholder="请输入关键字" />
        <i class="c-search__icon"></i>
      </div>
    </form>
  </div>
</div>