<!-- 子导航 -->
<div class="l-subnav">
  <div class="l-container">
    <ul class="l-subnav__list clearfix">
      <li class="l-subnav__item l-subnav__item--active">
        <a href="/index_about_profile.htm" class="l-subnav__item__link">公司简介</a>
      </li>
      <li class="l-subnav__item">
        <a href="/list_about_aualification.htm" class="l-subnav__item__link">荣誉资质</a>
      </li>
      <li class="l-subnav__item">
        <a href="/list_about_expert.htm" class="l-subnav__item__link">资深专家</a>
      </li>
      <li class="l-subnav__item">
        <a href="/list_about_hospital.htm" class="l-subnav__item__link">合作医院</a>
      </li>
      <li class="l-subnav__item">
        <a href="/list_about_course.htm" class="l-subnav__item__link">发展历程</a>
      </li>
      <li class="l-subnav__item">
        <a href="/list_about_album.htm" class="l-subnav__item__link">企业相册</a>
      </li>
      <li class="l-subnav__item">
        <a href="/index_about_contact.htm" class="l-subnav__item__link">联系我们</a>
      </li>
      <li class="l-subnav__item">
        <a href="/index_about_message.htm" class="l-subnav__item__link">在线留言</a>
      </li>
    </ul>
  </div>
</div>